/* Variables
/* ---------------------------------------------------------- */

@font-face {
	font-family: 'WayfinderCF-Thin';
	src: url('../../../static/fonts/wayfinder-cf-thin.eot');
	src: url('../../../static/fonts/wayfinder-cf-thin.eot?#iefix') format('embedded-opentype'),
       url('../../../static/fonts/wayfinder-cf-thin.woff2') format('woff2'),
	     url('../../../static/fonts/wayfinder-cf-thin.woff') format('woff'),
	     url('../../../static/fonts/wayfinder-cf-thin.ttf') format('truetype'),
	     url('../../../static/fonts/wayfinder-cf-thin.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WayfinderCF-Light';
	src: url('../../../static/fonts/wayfinder-cf-light.eot');
	src: url('../../../static/fonts/wayfinder-cf-light.eot?#iefix') format('embedded-opentype'),
       url('../../../static/fonts/wayfinder-cf-light.woff2') format('woff2'),
	     url('../../../static/fonts/wayfinder-cf-light.woff') format('woff'),
	     url('../../../static/fonts/wayfinder-cf-light.ttf') format('truetype'),
	     url('../../../static/fonts/wayfinder-cf-light.svg#youworkforthem') format('svg');
	font-weight: normal;
    font-style: normal;
}

:root {

    /* Colours */
    --color-primary: #008000;
    --color-base: #808080; /*131313 */
    --color-border: #ddd;
    --color-bg: #f8f8f8;

    /* Fonts */
    --font-sans-serif: 'WayfinderCF-Thin', serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;
    --font-light: 100;
    --font-normal: 400;
    --font-bold: 700;
    --font-heavy: 800;

    /* Breakpoints */
    --xlarge: 1680px;
    --large: 1280px;
    --medium: 980px;
    --small: 740px;
    --xsmall: 480px;

    /* Sizes */
    --height: 4rem;
    --margin: 2rem;
    --radius: 0.5rem;

}
